# Compiled binary
app

# Object files
*.o

# macOS 'rubish'
.DS_Store

# Build directory from cmake
build/

# Folder for the recording 
output/*
#keep the folder, ignore the content
!output/.gitkeep    

# keeps my video
!assets/dolphins.MP4  
